In [2]:

import json
import pandas as pd

In [3]:
f = open('r.json',encoding='utf-8')
json_data = json.load(f)

In [5]:
a = pd.json_normalize(json_data,['al','l']).loc[1]
pd.json_normalize(json_data,['al','l']).loc[1]

0      {'t': 1679158502, 'p': 1, 'h': 0, 'a': 0, 'rt'...
1      {'t': 1679158473, 'p': 1, 'h': 1.01, 'a': 9.33...
2      {'t': 1679158436, 'p': 1, 'h': 1.03, 'a': 8.14...
3      {'t': 1679158413, 'p': 1, 'h': 1.05, 'a': 7.25...
4      {'t': 1679158371, 'p': 1, 'h': 1.07, 'a': 6.55...
                             ...
136    {'t': 1679152000, 'p': -2, 'h': 1.85, 'a': 2.0...
137    {'t': 1679151955, 'p': -2, 'h': 1.86, 'a': 2.0...
138    {'t': 1679151953, 'p': -2, 'h': 1.85, 'a': 2.0...
139    {'t': 1679151932, 'p': -2, 'h': 1.87, 'a': 2.0...
140    {'t': 1679151727, 'p': -2, 'h': 1.88, 'a': 2.0...
Name: 1, Length: 141, dtype: object

In [6]:
# 定义lambda函数，将每个元素中的't', 'p', 'h'取出来组成一个tuple
parse_tph = lambda x: (x['t'], x['p'], x['h'])

# 使用apply函数，将parse_tph作用于s中的每个元素，得到一个DataFrame
df_tph = a.apply(parse_tph).apply(pd.Series)

# 将df_tph与原始Series按列合并
result = pd.concat([a, df_tph], axis=1)

In [7]:
result

,1,0,1,2
0,"{'t': 1679158502, 'p': 1, 'h': 0, 'a': 0, 'rt'...",1.679159e+09,1.0,0.00
1,"{'t': 1679158473, 'p': 1, 'h': 1.01, 'a': 9.33...",1.679158e+09,1.0,1.01
2,"{'t': 1679158436, 'p': 1, 'h': 1.03, 'a': 8.14...",1.679158e+09,1.0,1.03
3,"{'t': 1679158413, 'p': 1, 'h': 1.05, 'a': 7.25...",1.679158e+09,1.0,1.05
4,"{'t': 1679158371, 'p': 1, 'h': 1.07, 'a': 6.55...",1.679158e+09,1.0,1.07
...,...,...,...,...
136,"{'t': 1679152000, 'p': -2, 'h': 1.85, 'a': 2.0...",1.679152e+09,-2.0,1.85
137,"{'t': 1679151955, 'p': -2, 'h': 1.86, 'a': 2.0...",1.679152e+09,-2.0,1.86
138,"{'t': 1679151953, 'p': -2, 'h': 1.85, 'a': 2.0...",1.679152e+09,-2.0,1.85
139,"{'t': 1679151932, 'p': -2, 'h': 1.87, 'a': 2.0...",1.679152e+09,-2.0,1.87
140,"{'t': 1679151727, 'p': -2, 'h': 1.88, 'a': 2.0...",1.679152e+09,-2.0,1.88

In [10]:
result[1]

                                                     1    1
0    {'t': 1679158502, 'p': 1, 'h': 0, 'a': 0, 'rt'...  1.0
1    {'t': 1679158473, 'p': 1, 'h': 1.01, 'a': 9.33...  1.0
2    {'t': 1679158436, 'p': 1, 'h': 1.03, 'a': 8.14...  1.0
3    {'t': 1679158413, 'p': 1, 'h': 1.05, 'a': 7.25...  1.0
4    {'t': 1679158371, 'p': 1, 'h': 1.07, 'a': 6.55...  1.0
..                                                 ...  ...
136  {'t': 1679152000, 'p': -2, 'h': 1.85, 'a': 2.0... -2.0
137  {'t': 1679151955, 'p': -2, 'h': 1.86, 'a': 2.0... -2.0
138  {'t': 1679151953, 'p': -2, 'h': 1.85, 'a': 2.0... -2.0
139  {'t': 1679151932, 'p': -2, 'h': 1.87, 'a': 2.0... -2.0
140  {'t': 1679151727, 'p': -2, 'h': 1.88, 'a': 2.0... -2.0

[141 rows x 2 columns]