In [1]:

import json
import pandas as pd

In [2]:
f = open('r.json',encoding='utf-8')
json_data = json.load(f)

In [3]:
a = pd.json_normalize(json_data,['al','l']).loc[1]
pd.json_normalize(json_data,['al','l']).loc[1]

0      {'t': 1679158502, 'p': 1, 'h': 0, 'a': 0, 'rt'...
1      {'t': 1679158473, 'p': 1, 'h': 1.01, 'a': 9.33...
2      {'t': 1679158436, 'p': 1, 'h': 1.03, 'a': 8.14...
3      {'t': 1679158413, 'p': 1, 'h': 1.05, 'a': 7.25...
4      {'t': 1679158371, 'p': 1, 'h': 1.07, 'a': 6.55...
                             ...
136    {'t': 1679152000, 'p': -2, 'h': 1.85, 'a': 2.0...
137    {'t': 1679151955, 'p': -2, 'h': 1.86, 'a': 2.0...
138    {'t': 1679151953, 'p': -2, 'h': 1.85, 'a': 2.0...
139    {'t': 1679151932, 'p': -2, 'h': 1.87, 'a': 2.0...
140    {'t': 1679151727, 'p': -2, 'h': 1.88, 'a': 2.0...
Name: 1, Length: 141, dtype: object

In [4]:
# 定义lambda函数，将每个元素中的't', 'p', 'h'取出来组成一个tuple
parse_tph = lambda x: (x['t'], x['p'], x['h'])

# 使用apply函数，将parse_tph作用于s中的每个元素，得到一个DataFrame
df_tph = a.apply(parse_tph).apply(pd.Series)

# 将df_tph与原始Series按列合并
result = pd.concat([a, df_tph], axis=1)

In [5]:
result

,1,0,1,2
0,"{'t': 1679158502, 'p': 1, 'h': 0, 'a': 0, 'rt'...",1.679159e+09,1.0,0.00
1,"{'t': 1679158473, 'p': 1, 'h': 1.01, 'a': 9.33...",1.679158e+09,1.0,1.01
2,"{'t': 1679158436, 'p': 1, 'h': 1.03, 'a': 8.14...",1.679158e+09,1.0,1.03
3,"{'t': 1679158413, 'p': 1, 'h': 1.05, 'a': 7.25...",1.679158e+09,1.0,1.05
4,"{'t': 1679158371, 'p': 1, 'h': 1.07, 'a': 6.55...",1.679158e+09,1.0,1.07
...,...,...,...,...
136,"{'t': 1679152000, 'p': -2, 'h': 1.85, 'a': 2.0...",1.679152e+09,-2.0,1.85
137,"{'t': 1679151955, 'p': -2, 'h': 1.86, 'a': 2.0...",1.679152e+09,-2.0,1.86
138,"{'t': 1679151953, 'p': -2, 'h': 1.85, 'a': 2.0...",1.679152e+09,-2.0,1.85
139,"{'t': 1679151932, 'p': -2, 'h': 1.87, 'a': 2.0...",1.679152e+09,-2.0,1.87
140,"{'t': 1679151727, 'p': -2, 'h': 1.88, 'a': 2.0...",1.679152e+09,-2.0,1.88

In [6]:
pd.json_normalize(json_data,['al','l'])

,0,1,2,3,4,5,6,7,8,9,...,131,132,133,134,135,136,137,138,139,140
0,"{'t': 1679157552, 'p': -1, 'h': 2.42, 'a': 1.4...","{'t': 1679157382, 'p': -1, 'h': 2.36, 'a': 1.4...","{'t': 1679157321, 'p': -1, 'h': 2.3, 'a': 1.52...","{'t': 1679157307, 'p': -1, 'h': 2.26, 'a': 1.5...","{'t': 1679156904, 'p': -1, 'h': 2.14, 'a': 1.6...","{'t': 1679156776, 'p': -1, 'h': 2.1, 'a': 1.72...","{'t': 1679156749, 'p': -1, 'h': 2.12, 'a': 1.7...","{'t': 1679156694, 'p': -1, 'h': 2.08, 'a': 1.7...","{'t': 1679156526, 'p': -1, 'h': 2.04, 'a': 1.7...","{'t': 1679156351, 'p': -1, 'h': 2, 'a': 1.82, ...",...,None,None,None,None,None,None,None,None,None,None
1,"{'t': 1679158502, 'p': 1, 'h': 0, 'a': 0, 'rt'...","{'t': 1679158473, 'p': 1, 'h': 1.01, 'a': 9.33...","{'t': 1679158436, 'p': 1, 'h': 1.03, 'a': 8.14...","{'t': 1679158413, 'p': 1, 'h': 1.05, 'a': 7.25...","{'t': 1679158371, 'p': 1, 'h': 1.07, 'a': 6.55...","{'t': 1679158310, 'p': 1, 'h': 1.09, 'a': 6, '...","{'t': 1679158270, 'p': 0, 'h': 0, 'a': 0, 'rt'...","{'t': 1679158202, 'p': 0, 'h': 1.62, 'a': 2.36...","{'t': 1679158168, 'p': 0, 'h': 1.6, 'a': 2.4, ...","{'t': 1679158129, 'p': 0, 'h': 1.59, 'a': 2.42...",...,"{'t': 1679152237, 'p': -2, 'h': 1.86, 'a': 2.0...","{'t': 1679152216, 'p': -2, 'h': 1.87, 'a': 2.0...","{'t': 1679152184, 'p': -2, 'h': 1.86, 'a': 2.0...","{'t': 1679152056, 'p': -2, 'h': 1.85, 'a': 2.0...","{'t': 1679152012, 'p': -2, 'h': 1.86, 'a': 2.0...","{'t': 1679152000, 'p': -2, 'h': 1.85, 'a': 2.0...","{'t': 1679151955, 'p': -2, 'h': 1.86, 'a': 2.0...","{'t': 1679151953, 'p': -2, 'h': 1.85, 'a': 2.0...","{'t': 1679151932, 'p': -2, 'h': 1.87, 'a': 2.0...","{'t': 1679151727, 'p': -2, 'h': 1.88, 'a': 2.0..."
2,"{'t': 1679158270, 'p': -1, 'h': 0, 'a': 0, 'rt...","{'t': 1679158191, 'p': -1, 'h': 4.7, 'a': 1.16...","{'t': 1679158076, 'p': -1, 'h': 4.22, 'a': 1.2...","{'t': 1679158053, 'p': -1, 'h': 4.03, 'a': 1.2...","{'t': 1679157988, 'p': -1, 'h': 3.85, 'a': 1.2...","{'t': 1679157958, 'p': -1, 'h': 3.7, 'a': 1.26...","{'t': 1679157938, 'p': -1, 'h': 3.43, 'a': 1.3...","{'t': 1679157908, 'p': -1, 'h': 3.32, 'a': 1.3...","{'t': 1679157881, 'p': -1, 'h': 3.17, 'a': 1.3...","{'t': 1679157851, 'p': -1, 'h': 3.08, 'a': 1.3...",...,None,None,None,None,None,None,None,None,None,None
3,"{'t': 1679158270, 'p': 1, 'h': 0, 'a': 0, 'rt'...","{'t': 1679158191, 'p': 1, 'h': 1.08, 'a': 6.26...","{'t': 1679158162, 'p': -2, 'h': 0, 'a': 0, 'rt...","{'t': 1679158137, 'p': 1, 'h': 1.1, 'a': 5.76,...","{'t': 1679158029, 'p': -2, 'h': 5.76, 'a': 1.1...","{'t': 1679157958, 'p': -2, 'h': 5.16, 'a': 1.1...","{'t': 1679157915, 'p': -2, 'h': 5, 'a': 1.14, ...","{'t': 1679157878, 'p': -2, 'h': 4.7, 'a': 1.16...","{'t': 1679157851, 'p': -2, 'h': 4.57, 'a': 1.1...","{'t': 1679157814, 'p': -2, 'h': 4.44, 'a': 1.1...",...,None,None,None,None,None,None,None,None,None,None
4,"{'t': 1679157835, 'p': 1, 'h': 0, 'a': 0, 'rt'...","{'t': 1679157760, 'p': 1, 'h': 1.14, 'a': 5, '...","{'t': 1679157715, 'p': 1, 'h': 1.17, 'a': 4.57...","{'t': 1679157496, 'p': 1, 'h': 1.18, 'a': 4.44...","{'t': 1679157120, 'p': 1, 'h': 1.22, 'a': 4.03...","{'t': 1679157096, 'p': 1, 'h': 1.23, 'a': 3.94...","{'t': 1679157078, 'p': -3, 'h': 0, 'a': 0, 'rt...","{'t': 1679157047, 'p': 1, 'h': 1.24, 'a': 3.85...","{'t': 1679156982, 'p': -3, 'h': 4.22, 'a': 1.2...","{'t': 1679156936, 'p': -3, 'h': 3.94, 'a': 1.2...",...,None,None,None,None,None,None,None,None,None,None

In [7]:
pd.json_normalize(json_data,['al','l']).loc[1]

0      {'t': 1679158502, 'p': 1, 'h': 0, 'a': 0, 'rt'...
1      {'t': 1679158473, 'p': 1, 'h': 1.01, 'a': 9.33...
2      {'t': 1679158436, 'p': 1, 'h': 1.03, 'a': 8.14...
3      {'t': 1679158413, 'p': 1, 'h': 1.05, 'a': 7.25...
4      {'t': 1679158371, 'p': 1, 'h': 1.07, 'a': 6.55...
                             ...
136    {'t': 1679152000, 'p': -2, 'h': 1.85, 'a': 2.0...
137    {'t': 1679151955, 'p': -2, 'h': 1.86, 'a': 2.0...
138    {'t': 1679151953, 'p': -2, 'h': 1.85, 'a': 2.0...
139    {'t': 1679151932, 'p': -2, 'h': 1.87, 'a': 2.0...
140    {'t': 1679151727, 'p': -2, 'h': 1.88, 'a': 2.0...
Name: 1, Length: 141, dtype: object

In [13]:
data = pd.json_normalize(json_data,['al','l']).loc[1].apply(pd.Series)

In [15]:
data.columns

Index(['t', 'p', 'h', 'a', 'rt', 'hg', 'ag', 'st'], dtype='object')