In [2]:

import json
import pandas as pd

In [3]:
f = open('r.json',encoding='utf-8')
json_data = json.load(f)

In [5]:
a = pd.json_normalize(json_data,['al','l']).loc[1]
pd.json_normalize(json_data,['al','l']).loc[1]

0      {'t': 1679158502, 'p': 1, 'h': 0, 'a': 0, 'rt'...
1      {'t': 1679158473, 'p': 1, 'h': 1.01, 'a': 9.33...
2      {'t': 1679158436, 'p': 1, 'h': 1.03, 'a': 8.14...
3      {'t': 1679158413, 'p': 1, 'h': 1.05, 'a': 7.25...
4      {'t': 1679158371, 'p': 1, 'h': 1.07, 'a': 6.55...
                             ...
136    {'t': 1679152000, 'p': -2, 'h': 1.85, 'a': 2.0...
137    {'t': 1679151955, 'p': -2, 'h': 1.86, 'a': 2.0...
138    {'t': 1679151953, 'p': -2, 'h': 1.85, 'a': 2.0...
139    {'t': 1679151932, 'p': -2, 'h': 1.87, 'a': 2.0...
140    {'t': 1679151727, 'p': -2, 'h': 1.88, 'a': 2.0...
Name: 1, Length: 141, dtype: object

In [6]:
# 定义lambda函数，将每个元素中的't', 'p', 'h'取出来组成一个tuple
parse_tph = lambda x: (x['t'], x['p'], x['h'])

# 使用apply函数，将parse_tph作用于s中的每个元素，得到一个DataFrame
df_tph = a.apply(parse_tph).apply(pd.Series)

# 将df_tph与原始Series按列合并
result = pd.concat([a, df_tph], axis=1)

In [11]:
result.apply(pd.Series)

,1,0,1,2
0,"{'t': 1679158502, 'p': 1, 'h': 0, 'a': 0, 'rt'...",1.679159e+09,1.0,0.00
1,"{'t': 1679158473, 'p': 1, 'h': 1.01, 'a': 9.33...",1.679158e+09,1.0,1.01
2,"{'t': 1679158436, 'p': 1, 'h': 1.03, 'a': 8.14...",1.679158e+09,1.0,1.03
3,"{'t': 1679158413, 'p': 1, 'h': 1.05, 'a': 7.25...",1.679158e+09,1.0,1.05
4,"{'t': 1679158371, 'p': 1, 'h': 1.07, 'a': 6.55...",1.679158e+09,1.0,1.07
...,...,...,...,...
136,"{'t': 1679152000, 'p': -2, 'h': 1.85, 'a': 2.0...",1.679152e+09,-2.0,1.85
137,"{'t': 1679151955, 'p': -2, 'h': 1.86, 'a': 2.0...",1.679152e+09,-2.0,1.86
138,"{'t': 1679151953, 'p': -2, 'h': 1.85, 'a': 2.0...",1.679152e+09,-2.0,1.85
139,"{'t': 1679151932, 'p': -2, 'h': 1.87, 'a': 2.0...",1.679152e+09,-2.0,1.87
140,"{'t': 1679151727, 'p': -2, 'h': 1.88, 'a': 2.0...",1.679152e+09,-2.0,1.88

In [10]:
result[1]

                                                     1    1
0    {'t': 1679158502, 'p': 1, 'h': 0, 'a': 0, 'rt'...  1.0
1    {'t': 1679158473, 'p': 1, 'h': 1.01, 'a': 9.33...  1.0
2    {'t': 1679158436, 'p': 1, 'h': 1.03, 'a': 8.14...  1.0
3    {'t': 1679158413, 'p': 1, 'h': 1.05, 'a': 7.25...  1.0
4    {'t': 1679158371, 'p': 1, 'h': 1.07, 'a': 6.55...  1.0
..                                                 ...  ...
136  {'t': 1679152000, 'p': -2, 'h': 1.85, 'a': 2.0... -2.0
137  {'t': 1679151955, 'p': -2, 'h': 1.86, 'a': 2.0... -2.0
138  {'t': 1679151953, 'p': -2, 'h': 1.85, 'a': 2.0... -2.0
139  {'t': 1679151932, 'p': -2, 'h': 1.87, 'a': 2.0... -2.0
140  {'t': 1679151727, 'p': -2, 'h': 1.88, 'a': 2.0... -2.0

[141 rows x 2 columns]

In [22]:
tmp = pd.json_normalize(json_data,['al','l']).loc[1]

In [32]:
tmp_df = tmp.apply(pd.Series)

In [25]:
tmp_df

              t  p     h     a       rt  hg  ag  st
0    1679158502  1  0.00  0.00  下 90+5'   1   1   3
1    1679158473  1  1.01  9.33  下 90+5'   1   1   3
2    1679158436  1  1.03  8.14  下 90+5'   1   1   3
3    1679158413  1  1.05  7.25  下 90+4'   1   1   3
4    1679158371  1  1.07  6.55  下 90+4'   1   1   3
..          ... ..   ...   ...      ...  ..  ..  ..
136  1679152000 -2  1.85  2.04     上 5'   0   0   3
137  1679151955 -2  1.86  2.03     上 5'   0   0   3
138  1679151953 -2  1.85  2.04     上 5'   0   0   3
139  1679151932 -2  1.87  2.02     上 4'   0   0   3
140  1679151727 -2  1.88  2.01     上 1'   0   0   3

[141 rows x 8 columns]

In [33]:
tmp_df['t'] = pd.to_datetime(tmp_df['t'],unit='s')

In [39]:
tmp_df['matchid'] = 't1'

In [40]:
tmp_df

                      t  p     h     a       rt  hg  ag  st matchid
0   2023-03-18 16:55:02  1  0.00  0.00  下 90+5'   1   1   3      t1
1   2023-03-18 16:54:33  1  1.01  9.33  下 90+5'   1   1   3      t1
2   2023-03-18 16:53:56  1  1.03  8.14  下 90+5'   1   1   3      t1
3   2023-03-18 16:53:33  1  1.05  7.25  下 90+4'   1   1   3      t1
4   2023-03-18 16:52:51  1  1.07  6.55  下 90+4'   1   1   3      t1
..                  ... ..   ...   ...      ...  ..  ..  ..     ...
136 2023-03-18 15:06:40 -2  1.85  2.04     上 5'   0   0   3      t1
137 2023-03-18 15:05:55 -2  1.86  2.03     上 5'   0   0   3      t1
138 2023-03-18 15:05:53 -2  1.85  2.04     上 5'   0   0   3      t1
139 2023-03-18 15:05:32 -2  1.87  2.02     上 4'   0   0   3      t1
140 2023-03-18 15:02:07 -2  1.88  2.01     上 1'   0   0   3      t1

[141 rows x 9 columns]

In [36]:
from sqlalchemy import create_engine

In [37]:
engine = create_engine('mysql+pymysql://root:wobuhuiwan@lpksir.cn:3306/football', echo=False)

In [41]:
tmp_df.to_sql('testft', engine, if_exists='replace', index=False)
engine.dispose()