In [1]:
import pandas as pd
import json

In [8]:
f = open('r.json',encoding='utf-8')

In [9]:
js_dt = json.load(f)
pd.json_normalize(js_dt)

,al,el,ol,col,m.id,m.mt,m.st.id,m.st.cn,m.st.tr,m.st.en,m.sc.ht,m.sc.ft
0,"[{'c': 1, 'l': [[{'t': 1678646790, 'p': 8, 'h'...","[{'c': 1001, 'l': [[{'t': 1678646643, 'w': 0, ...","[{'c': 1, 'l': [[{'t': 1678646762, 'p': 26, 'o...","[{'c': 1001, 'l': [[{'t': 1678647334, 'p': 34,...",1868860,1678640400,6,完,完,FT,"[1, 3]","[3, 4]"

In [10]:
pd.json_normalize(js_dt,['al','l'],[['al','c']])

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,al.c
0,"{'t': 1678646790, 'p': 8, 'h': 2.17, 'a': 1.6,...","{'t': 1678646748, 'p': 8, 'h': 2.15, 'a': 1.62...","{'t': 1678646589, 'p': 8, 'h': 2.09, 'a': 1.68...","{'t': 1678646540, 'p': 8, 'h': 2.05, 'a': 1.72...","{'t': 1678646454, 'p': 8, 'h': 2.01, 'a': 1.76...","{'t': 1678646417, 'p': 8, 'h': 1.92, 'a': 1.85...","{'t': 1678646209, 'p': 4, 'h': 1.92, 'a': 1.85...","{'t': 1678646169, 'p': 4, 'h': 1.95, 'a': 1.82...","{'t': 1678646102, 'p': 4, 'h': 1.97, 'a': 1.8,...","{'t': 1678646088, 'p': 4, 'h': 1.99, 'a': 1.78...",...,None,None,None,None,None,None,None,None,None,1
1,"{'t': 1678647417, 'p': 1, 'h': 1.09, 'a': 6, '...","{'t': 1678647325, 'p': 1, 'h': 1.1, 'a': 5.76,...","{'t': 1678647295, 'p': 1, 'h': 1.12, 'a': 5.34...","{'t': 1678647281, 'p': 1, 'h': 1.13, 'a': 5.16...","{'t': 1678647240, 'p': 1, 'h': 1.15, 'a': 4.84...","{'t': 1678647215, 'p': 1, 'h': 1.16, 'a': 4.7,...","{'t': 1678647200, 'p': 1, 'h': 1.18, 'a': 4.44...","{'t': 1678647163, 'p': 1, 'h': 1.16, 'a': 4.7,...","{'t': 1678647079, 'p': 1, 'h': 1.18, 'a': 4.44...","{'t': 1678647008, 'p': 1, 'h': 1.19, 'a': 4.33...",...,None,None,None,None,None,None,None,None,None,1001
2,"{'t': 1678647533, 'p': 1, 'h': 0, 'a': 0, 'rt'...","{'t': 1678647472, 'p': 1, 'h': 1.02, 'a': 8.69...","{'t': 1678647454, 'p': 1, 'h': 0, 'a': 0, 'rt'...","{'t': 1678647424, 'p': 1, 'h': 1.05, 'a': 7.25...","{'t': 1678647413, 'p': 1, 'h': 0, 'a': 0, 'rt'...","{'t': 1678647387, 'p': 0, 'h': 0, 'a': 0, 'rt'...","{'t': 1678647368, 'p': 1, 'h': 1.09, 'a': 6, '...","{'t': 1678647240, 'p': 0, 'h': 2.25, 'a': 1.69...","{'t': 1678647226, 'p': 0, 'h': 2.21, 'a': 1.71...","{'t': 1678647211, 'p': 0, 'h': 2.26, 'a': 1.68...",...,"{'t': 1678641526, 'p': -3, 'h': 1.72, 'a': 2.2...","{'t': 1678641454, 'p': -3, 'h': 1.7, 'a': 2.23...","{'t': 1678641408, 'p': -3, 'h': 1.72, 'a': 2.2...","{'t': 1678641382, 'p': -3, 'h': 1.73, 'a': 2.1...","{'t': 1678641307, 'p': -3, 'h': 1.75, 'a': 2.1...","{'t': 1678641288, 'p': -3, 'h': 1.77, 'a': 2.1...","{'t': 1678641278, 'p': -2, 'h': 0, 'a': 0, 'rt...","{'t': 1678641037, 'p': -2, 'h': 1.75, 'a': 2.1...","{'t': 1678640691, 'p': -2, 'h': 1.73, 'a': 2.1...",1001
3,"{'t': 1678643562, 'p': 1, 'h': 1.66, 'a': 2.29...",None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,1001
4,"{'t': 1678647413, 'p': -1, 'h': 0, 'a': 0, 'rt...","{'t': 1678647325, 'p': -1, 'h': 6.55, 'a': 1.0...","{'t': 1678647295, 'p': -1, 'h': 6.26, 'a': 1.0...","{'t': 1678647281, 'p': -1, 'h': 6, 'a': 1.09, ...","{'t': 1678647252, 'p': -1, 'h': 5.76, 'a': 1.1...","{'t': 1678647240, 'p': -1, 'h': 5.54, 'a': 1.1...","{'t': 1678647196, 'p': -1, 'h': 5.34, 'a': 1.1...","{'t': 1678647178, 'p': -1, 'h': 6.26, 'a': 1.0...","{'t': 1678647163, 'p': -1, 'h': 6, 'a': 1.09, ...","{'t': 1678647137, 'p': -1, 'h': 5.76, 'a': 1.1...",...,None,None,None,None,None,None,None,None,None,1001
5,"{'t': 1678646648, 'p': 2, 'h': 0, 'a': 0, 'rt'...","{'t': 1678646495, 'p': 2, 'h': 1.21, 'a': 4.12...","{'t': 1678646461, 'p': 2, 'h': 1.23, 'a': 3.94...","{'t': 1678646427, 'p': 2, 'h': 1.25, 'a': 3.77...","{'t': 1678646371, 'p': 2, 'h': 1.27, 'a': 3.63...","{'t': 1678646277, 'p': 2, 'h': 1.28, 'a': 3.56...","{'t': 1678646263, 'p': 2, 'h': 0, 'a': 0, 'rt'...","{'t': 1678646227, 'p': 2, 'h': 1.28, 'a': 3.56...","{'t': 1678646185, 'p': 2, 'h': 1.3, 'a': 3.43,...","{'t': 1678646132, 'p': 2, 'h': 1.31, 'a': 3.38...",...,None,None,None,None,None,None,None,None,None,1001